<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329135027324-e5tts2vu8alkmdrfqkartfb6r68jnnqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329135027324-e5tts2vu8alkmdrfqkartfb6r68jnnqb</string>
	<key>API_KEY</key>
	<string>AIzaSyClVaIP_4UZPdqdgg-zMuR02fUANlndhao</string>
	<key>GCM_SENDER_ID</key>
	<string>329135027324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEdspertFpLearningApp</string>
	<key>PROJECT_ID</key>
	<string>edspert-fp-learning-app</string>
	<key>STORAGE_BUCKET</key>
	<string>edspert-fp-learning-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329135027324:ios:e29b1491d000b5758d05f9</string>
</dict>
</plist>